<br><br>
<div class="box">
    <p class="heading">FAQ</p>
    <div class="faqs">
        <details>
            <summary>What services do you offer ?</summary>
            <p>Combining deep cross sector experience with the latest innovations, <br>
             we create sought-after tech solutions and guidance while offering thorough support <br>
              that is tailored to what your organisation needs to meet strategic business goals.</p>
        </details> <br>
        <details>
            <summary>Where are you based  ?</summary>
            <p>We are currently located: <br>
                 2142 Umkakasi Street <br>
                Ebony Park Ext 4 <br>
                Midrand 168 <br>
                South Afric</p>
        </details><br>
        <details>
            <summary>How much does it cost to build a website?</summary>
            <p>For a list of current subscription plans and pricing, please <br>
                contact us through the provided email</p>
        </details><br>
        <details>
            <summary>How can i get support?</summary>
            <p>If you run into problems, try searching online help or get answers from the Office Community. <br>
                 Need to talk to a person? Answer Desk is ready to help you with whatever you need.</p>
        </details>
    </div>
</div>
<dt-footer></dt-footer>