<footer style="background-color: rgba(87, 82, 82, 0.418);" class="social-footer">
 
    <div  class="social-footer-icons">
      <ul style="text-align: center;" class="menu simple">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true" ></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/mlungisi_mpofu" target="_blank"><i class="fa fa-instagram" aria-hidden="true" ></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/mlungisi-mpofu-b49406193/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" ></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        
      </ul>
    </div>
    <div>
        &copy; Copyright <strong>DiverseTech 2021</strong>
    </div>
    <div class="credits">
      Designed by <a style="color: white;" href="https://mmdiversetech.com/">mmdiversetech</a>
    </div>
  </footer>
  