<div>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h2 style="color: white;">{{pageTitle}}</h2>
                </div><br>
                <div class="content">
                <h6>DIVERSETECH PTY LTD</h6>
                    <p>is a leading, highly innovative software house, systems integrator and technology provider,<br>
                        established to provide leading edge intelligent technical solutions and consulting services to businesses,<br>
                        organizations and government in order to allow the efficient and effective secure access and communication <br>
                        with various heterogeneous information resources and services, anytime and anywhere.
                    </p> 
                    <div class="button">
                        <a href="/about-page">Read More</a>
                </div>
            </div>
        </div>
    </div>
        <div class="image-section">
            <img src="../../assets/images/processor.jpg" alt="">
        </div>
    </div>
</div>





<dt-footer></dt-footer>