!
    <h3>
        <font face="Lato" size="7" style="position: fixed; color: rgb(250, 250, 250);" routerLink="/home" >DiverseTech<img src="../../favicon.ico" routerLink="/home" alt="logo" style="width: 60px; height: 60px;"></font>
        <!-- <img src="../../favicon.ico" routerLink="/home" alt="logo" style="width: 60px; height: 60px;"> -->
            
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <font face="cinzel" size="4" style="position: fixed;">
        <a style="color: rgb(250, 250, 250);" routerLink="/home">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: rgb(250, 250, 250);" routerLink="/about-page">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: rgb(250, 250, 250);" routerLink="/contacts">CONTACTS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: rgb(250, 250, 250);" routerLink="/faq">FAQ</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: rgb(250, 250, 250);" routerLink="/team">TEAM</a>
       </font>
    </h3>





