
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br>
    <div>

    </div>
<h1 style="position:relative;" align="right">
    <font face="Lato" color="white" size="7">
        DiverseTech Software-Development
    </font>
</h1>
<h3 style="position:flex;" align="right">
    <a routerLink="/about-page"><font  face="Lato" style="color: rgb(121, 3, 3);"> GET STARTED</font></a>&nbsp;&nbsp;
    <a routerLink="/contacts"><font  face="Lato" style="color: rgb(121, 3, 3);"> CONNECT WITH US</font></a>
    <p>A company driven by Innovation.</p>
</h3>

    <div class="box" style="text-align: center;">
        <video style="margin-left: auto; margin-right: auto; text-align: center;" style=" width: 800px; height: 800px;" oncanplay="this.muted=true" src="../../assets/images/The World In 2050.mp4" autoplay="false" loop="false" muted="true"></video>

    </div>

<dt-footer></dt-footer>
</body>
</html>
