.container{
  /* width: 200px;
  height: 200px; */
  position: absolute;
  margin: 20px;
}
.box{
  width: 50%;
  height: 50%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;  /* for demo purpose  */

}